* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 20px;
}
.btn {
  height: 40px;
  width: 55px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Classes */
.white {
  background-color: white;
}
.btnChange {
  background-color: black;
  color: white;
}
.text {
  color: #000;
}
